<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rashmi Art House</title>

    <meta name="description" content="Murals handcrafted in New Delhi">
    <meta name="author" content="">
  
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!-- **CSS - stylesheets** -->
    <link id="default-css" rel="stylesheet" href="style.css" type="text/css" media="all" />

    <!-- **Additional - stylesheets** -->
    <link href="css/animations.css" rel="stylesheet" type="text/css" media="all" />
    <link id="shortcodes-css" href="css/shortcodes.css" rel="stylesheet" type="text/css" media="all"/>
    <link id="skin-css" href="skins/red/style.css" rel="stylesheet" media="all" />
    <link href="css/isotope.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <link href="css/pace.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="all"/>

    <link id="light-dark-css" href="light/light.css" rel="stylesheet" media="all" />

    <!-- **Font Awesome** -->
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />

    <!-- Modernizr -->
    <script src="js/modernizr.js"></script> 

  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    <!--TEMPLATES END-->


    <!-- **jQuery** -->  
    <script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>

    <script src="js/jquery.inview.js" type="text/javascript"></script>
    <script src="js/jquery.viewport.js" type="text/javascript"></script>
    
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    
    <script src="js/jsplugins.js" type="text/javascript"></script>    
      
    <script src="js/jquery.prettyPhoto.js" type="text/javascript"></script>    
      
    <script src="js/jquery.validate.min.js" type="text/javascript"></script>    
    
    <script src="js/jquery.tipTip.minified.js" type="text/javascript"></script>    
    
    <script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
    
    <script src="js/custom.js"></script>   
  </body>
</html>
